# --------------------------------------------------------------------------------------------
# Name 
# Desc: Abertura por Moculo
# Date 01/2026
# Author: Miranda / Helder
# --------------------------------------------------------------------------------------------
['ALL.M.003.Uploads_Status_Actual':'ALL.M.003.Uploads_Status_Actual':'Status'] = S:
  IF( DB( 'ALL.100.Assumptions_Upload', 'Current Planning Module', 'Value' )@<>!ALL.D.Planning_Module ,
  'Closed',
  CONTINUE

  );




# --------------------------------------------------------------------------------------------
# Name Aux_Date_Closed
# Desc: Calcula a data/hora de fechamento efetiva considerando hierarquia de regiões
# Date 01/2026
# Author: Miranda / Helder
# --------------------------------------------------------------------------------------------

# --------------------------------------------------------------------------------------------
# Busca valor do pai nível 1 da hierarquia de região
['ALL.M.003.Uploads_Status_Actual':'ALL.M.003.Uploads_Status_Actual':'Aux_Date_Closed'] = S:

    IF (
        DB(
            'ALL.003.Uploads_Status_Actual',
            !ALL.D.Year,
            !ALL.D.Month,
            !ALL.D.Version,
            ELPAR('ALL.D.Region', !ALL.D.Region, 1),
            !ALL.D.Planning_Module,
            'Aux_Date_Closed'
        ) @<> ''

         &
         DB('ALL.003.Uploads_Status_Actual', !ALL.D.Year, !ALL.D.Month, !ALL.D.Version, !ALL.D.Region,!ALL.D.Planning_Module, 'Day Closed')  @= ''
        &
        DB('ALL.003.Uploads_Status_Actual', !ALL.D.Year, !ALL.D.Month, !ALL.D.Version, !ALL.D.Region,!ALL.D.Planning_Module, 'Hour Closed') @= ''
  
  ,

        DB(
            'ALL.003.Uploads_Status_Actual',
            !ALL.D.Year,
            !ALL.D.Month,
            !ALL.D.Version,
            ELPAR('ALL.D.Region', !ALL.D.Region, 1),
            !ALL.D.Planning_Module,
            'Aux_Date_Closed'
        ),

        CONTINUE
    );

# --------------------------------------------------------------------------------------------
# Busca valor do pai nível 2 da hierarquia de região
['ALL.M.003.Uploads_Status_Actual':'ALL.M.003.Uploads_Status_Actual':'Aux_Date_Closed'] = S:

    IF (
        DB(
            'ALL.003.Uploads_Status_Actual',
            !ALL.D.Year,
            !ALL.D.Month,
            !ALL.D.Version,
            ELPAR('ALL.D.Region', !ALL.D.Region, 2),
           !ALL.D.Planning_Module,
            'Aux_Date_Closed'
        ) @<> ''

           &
         DB('ALL.003.Uploads_Status_Actual', !ALL.D.Year, !ALL.D.Month, !ALL.D.Version, !ALL.D.Region,!ALL.D.Planning_Module, 'Day Closed')  @= ''
        &
        DB('ALL.003.Uploads_Status_Actual', !ALL.D.Year, !ALL.D.Month, !ALL.D.Version, !ALL.D.Region,!ALL.D.Planning_Module, 'Hour Closed') @= ''
  ,

        DB(
            'ALL.003.Uploads_Status_Actual',
            !ALL.D.Year,
            !ALL.D.Month,
            !ALL.D.Version,
            ELPAR('ALL.D.Region', !ALL.D.Region, 2),
            !ALL.D.Planning_Module,
            'Aux_Date_Closed'
        ),

        CONTINUE
    );

# --------------------------------------------------------------------------------------------
# Monta timestamp da data de fechamento
['ALL.M.003.Uploads_Status_Actual':'ALL.M.003.Uploads_Status_Actual':'Aux_Date_Closed'] = S:

    IF(
        DB('ALL.003.Uploads_Status_Actual', !ALL.D.Year, !ALL.D.Month, !ALL.D.Version, !ALL.D.Region,!ALL.D.Planning_Module, 'Day Closed')  @<> ''
        &
        DB('ALL.003.Uploads_Status_Actual', !ALL.D.Year, !ALL.D.Month, !ALL.D.Version, !ALL.D.Region,!ALL.D.Planning_Module, 'Hour Closed') @<> ''
  ,

        TimSt(Now,'\Y')
        | TimSt(Now,'\m')
        | DB('ALL.003.Uploads_Status_Actual', !ALL.D.Year, !ALL.D.Month, !ALL.D.Version, !ALL.D.Region,!ALL.D.Planning_Module, 'Day Closed')
        | DB('ALL.003.Uploads_Status_Actual', !ALL.D.Year, !ALL.D.Month, !ALL.D.Version, !ALL.D.Region,!ALL.D.Planning_Module, 'Hour Closed'),

        ''
    );



# --------------------------------------------------------------------------------------------
# Name Aux_Date_System
# Desc: Data/hora atual do sistema utilizada para comparação com fechamento
# Date 01/2026
# Author: Miranda / Helder
# --------------------------------------------------------------------------------------------

# --------------------------------------------------------------------------------------------
# Busca valor do pai nível 1
['ALL.M.003.Uploads_Status_Actual':'ALL.M.003.Uploads_Status_Actual':'Aux_Date_System'] = S:

    IF(
        DB(
            'ALL.003.Uploads_Status_Actual',
            !ALL.D.Year,
            !ALL.D.Month,
            !ALL.D.Version,
            ELPAR('ALL.D.Region', !ALL.D.Region, 1),
           !ALL.D.Planning_Module,
            'Aux_Date_System'
        ) @<> ''

           &
         DB('ALL.003.Uploads_Status_Actual', !ALL.D.Year, !ALL.D.Month, !ALL.D.Version, !ALL.D.Region,!ALL.D.Planning_Module, 'Day Closed')  @= ''
        &
        DB('ALL.003.Uploads_Status_Actual', !ALL.D.Year, !ALL.D.Month, !ALL.D.Version, !ALL.D.Region,!ALL.D.Planning_Module, 'Hour Closed') @= ''

  ,

        DB(
            'ALL.003.Uploads_Status_Actual',
            !ALL.D.Year,
            !ALL.D.Month,
            !ALL.D.Version,
            ELPAR('ALL.D.Region', !ALL.D.Region, 1),
            !ALL.D.Planning_Module,
            'Aux_Date_System'
        ),

        CONTINUE
    );

# --------------------------------------------------------------------------------------------
# Busca valor do pai nível 2
['ALL.M.003.Uploads_Status_Actual':'ALL.M.003.Uploads_Status_Actual':'Aux_Date_System'] = S:

    IF(
        DB(
            'ALL.003.Uploads_Status_Actual',
            !ALL.D.Year,
            !ALL.D.Month,
            !ALL.D.Version,
            ELPAR('ALL.D.Region', !ALL.D.Region, 2),
            !ALL.D.Planning_Module,
            'Aux_Date_System'
        ) @<> ''

           &
         DB('ALL.003.Uploads_Status_Actual', !ALL.D.Year, !ALL.D.Month, !ALL.D.Version, !ALL.D.Region,!ALL.D.Planning_Module, 'Day Closed')  @= ''
        &
        DB('ALL.003.Uploads_Status_Actual', !ALL.D.Year, !ALL.D.Month, !ALL.D.Version, !ALL.D.Region,!ALL.D.Planning_Module, 'Hour Closed') @= ''

  ,

        DB(
            'ALL.003.Uploads_Status_Actual',
            !ALL.D.Year,
            !ALL.D.Month,
            !ALL.D.Version,
            ELPAR('ALL.D.Region', !ALL.D.Region, 2),
            !ALL.D.Planning_Module,
            'Aux_Date_System'
        ),

        CONTINUE
    );

# --------------------------------------------------------------------------------------------
# Monta timestamp da data/hora do sistema
['ALL.M.003.Uploads_Status_Actual':'ALL.M.003.Uploads_Status_Actual':'Aux_Date_System'] = S:

    IF(
        DB('ALL.003.Uploads_Status_Actual', !ALL.D.Year, !ALL.D.Month, !ALL.D.Version, !ALL.D.Region,!ALL.D.Planning_Module, 'Day Closed')  @<> ''
        &
        DB('ALL.003.Uploads_Status_Actual', !ALL.D.Year, !ALL.D.Month, !ALL.D.Version, !ALL.D.Region,!ALL.D.Planning_Module, 'Hour Closed') @<> '',

        TimSt(Now,'\Y')
        | TimSt(Now,'\m')
        | TimSt(Now,'\d')
        | TRIM(STR(NUMBR(TimSt(Now,'\h')) - 3,4,0)),

        ''
    );



# --------------------------------------------------------------------------------------------
# Name Flag Open
# Desc: Propaga flag de abertura pela hierarquia de região
# Date 01/2026
# Author: Miranda / Helder
# --------------------------------------------------------------------------------------------

# --------------------------------------------------------------------------------------------
# Busca valor do pai nível 1
['ALL.M.003.Uploads_Status_Actual':'ALL.M.003.Uploads_Status_Actual':'Flag Open'] = S:

    IF(
        DB(
            'ALL.003.Uploads_Status_Actual',
            !ALL.D.Year,
            !ALL.D.Month,
            !ALL.D.Version,
            ELPAR('ALL.D.Region', !ALL.D.Region, 1),
            !ALL.D.Planning_Module,
            'Flag Open'
        ) @<> '',

        DB(
            'ALL.003.Uploads_Status_Actual',
            !ALL.D.Year,
            !ALL.D.Month,
            !ALL.D.Version,
            ELPAR('ALL.D.Region', !ALL.D.Region, 1),
            !ALL.D.Planning_Module,
            'Flag Open'
        ),

        CONTINUE
    );

# --------------------------------------------------------------------------------------------
# Busca valor do pai nível 2
['ALL.M.003.Uploads_Status_Actual':'ALL.M.003.Uploads_Status_Actual':'Flag Open'] = S:

    IF(
        DB(
            'ALL.003.Uploads_Status_Actual',
            !ALL.D.Year,
            !ALL.D.Month,
            !ALL.D.Version,
            ELPAR('ALL.D.Region', !ALL.D.Region, 2),
            !ALL.D.Planning_Module,
            'Flag Open'
        ) @<> '',

        DB(
            'ALL.003.Uploads_Status_Actual',
            !ALL.D.Year,
            !ALL.D.Month,
            !ALL.D.Version,
            ELPAR('ALL.D.Region', !ALL.D.Region, 2),
            !ALL.D.Planning_Module,
            'Flag Open'
        ),

        CONTINUE
    );



# --------------------------------------------------------------------------------------------
# Name STATUS
# Desc: Determina status final do período (Open / Closed)
# Date 01/2026
# Author: Miranda / Helder
# --------------------------------------------------------------------------------------------



['ALL.M.003.Uploads_Status_Actual':'ALL.M.003.Uploads_Status_Actual':'Status'] = S:

    IF(
        DB('ALL.003.Uploads_Status_Actual', !ALL.D.Year, !ALL.D.Month, !ALL.D.Version, !ALL.D.Region, !ALL.D.Planning_Module, 'Flag Open') @= 'Y'
        &
        TRIM(DB('ALL.003.Uploads_Status_Actual', !ALL.D.Year, !ALL.D.Month, !ALL.D.Version, !ALL.D.Region, !ALL.D.Planning_Module, 'Aux_Date_System'))
        @<
        TRIM(DB('ALL.003.Uploads_Status_Actual', !ALL.D.Year, !ALL.D.Month, !ALL.D.Version, !ALL.D.Region ,!ALL.D.Planning_Module, 'Aux_Date_Closed')),

        'Open',

        CONTINUE
    );
# --------------------------------------------------------------------------------------------
['ALL.M.003.Uploads_Status_Actual':'ALL.M.003.Uploads_Status_Actual':'Status'] = S:

    IF(
        DB('ALL.003.Uploads_Status_Actual', !ALL.D.Year, !ALL.D.Month, !ALL.D.Version,
            DB('MAP.030.Region', !ALL.D.Region, 'H2 Level 1' ),!ALL.D.Planning_Module, 'Status') @<> ''
        &
        DB('ALL.003.Uploads_Status_Actual', !ALL.D.Year, !ALL.D.Month, !ALL.D.Version, !ALL.D.Region,!ALL.D.Planning_Module, 'Day Closed')  @= ''
        &
        DB('ALL.003.Uploads_Status_Actual', !ALL.D.Year, !ALL.D.Month, !ALL.D.Version, !ALL.D.Region,!ALL.D.Planning_Module, 'Hour Closed') @= '',

        DB('ALL.003.Uploads_Status_Actual', !ALL.D.Year, !ALL.D.Month, !ALL.D.Version,
           DB('MAP.030.Region', !ALL.D.Region, 'H2 Level 1' ),!ALL.D.Planning_Module, 'Status'),

        CONTINUE
    );
# --------------------------------------------------------------------------------------------

['ALL.M.003.Uploads_Status_Actual':'ALL.M.003.Uploads_Status_Actual':'Status'] = S:

    IF(
        DB('ALL.003.Uploads_Status_Actual', !ALL.D.Year, !ALL.D.Month, !ALL.D.Version,
            ELPAR('ALL.D.Region', !ALL.D.Region, 2),!ALL.D.Planning_Module, 'Status') @<> ''
        &
        DB('ALL.003.Uploads_Status_Actual', !ALL.D.Year, !ALL.D.Month, !ALL.D.Version, !ALL.D.Region,!ALL.D.Planning_Module, 'Day Closed')  @= ''
        &
        DB('ALL.003.Uploads_Status_Actual', !ALL.D.Year, !ALL.D.Month, !ALL.D.Version, !ALL.D.Region,!ALL.D.Planning_Module, 'Hour Closed') @= '',

        DB('ALL.003.Uploads_Status_Actual', !ALL.D.Year, !ALL.D.Month, !ALL.D.Version,
            ELPAR('ALL.D.Region', !ALL.D.Region, 2),!ALL.D.Planning_Module, 'Status'),

        CONTINUE
    );

# --------------------------------------------------------------------------------------------

['ALL.M.003.Uploads_Status_Actual':'ALL.M.003.Uploads_Status_Actual':'Status'] = S:

    IF(
        DB('ALL.003.Uploads_Status_Actual', !ALL.D.Year, !ALL.D.Month, !ALL.D.Version,
            ELPAR('ALL.D.Region', !ALL.D.Region, 1),!ALL.D.Planning_Module, 'Status') @<> ''
        &
        DB('ALL.003.Uploads_Status_Actual', !ALL.D.Year, !ALL.D.Month, !ALL.D.Version, !ALL.D.Region,!ALL.D.Planning_Module, 'Day Closed')  @= ''
        &
        DB('ALL.003.Uploads_Status_Actual', !ALL.D.Year, !ALL.D.Month, !ALL.D.Version, !ALL.D.Region,!ALL.D.Planning_Module, 'Hour Closed') @= '',

        DB('ALL.003.Uploads_Status_Actual', !ALL.D.Year, !ALL.D.Month, !ALL.D.Version,
            ELPAR('ALL.D.Region', !ALL.D.Region, 1),!ALL.D.Planning_Module, 'Status'),

        CONTINUE
    );

# --------------------------------------------------------------------------------------------

['ALL.M.003.Uploads_Status_Actual':'ALL.M.003.Uploads_Status_Actual':'Status'] = S:

    IF(
        !ALL.D.Month @<> ATTRS('ALL.D.Month',
                              DB('ALL.100.Assumptions_Upload','Real Month','Value'),
                              'Number'),

        'Closed',

        CONTINUE
    );

# --------------------------------------------------------------------------------------------

['ALL.M.003.Uploads_Status_Actual':'ALL.M.003.Uploads_Status_Actual':'Status'] = S:

    IF(
        !ALL.D.Year @<> DB('ALL.100.Assumptions_Upload','Real Year','Value'),

        'Closed',

        CONTINUE
    );

# --------------------------------------------------------------------------------------------

['ALL.M.003.Uploads_Status_Actual':'ALL.M.003.Uploads_Status_Actual':'Status'] = S:

    IF(
        DB('ALL.003.Uploads_Status_Actual', !ALL.D.Year, !ALL.D.Month, !ALL.D.Version, !ALL.D.Region,!ALL.D.Planning_Module, 'Day Closed')  @<> ''
        &
        DB('ALL.003.Uploads_Status_Actual', !ALL.D.Year, !ALL.D.Month, !ALL.D.Version, !ALL.D.Region,!ALL.D.Planning_Module, 'Hour Closed') @<> '',

        IF(
            TRIM(DB('ALL.003.Uploads_Status_Actual', !ALL.D.Year, !ALL.D.Month, !ALL.D.Version, !ALL.D.Region,!ALL.D.Planning_Module, 'Aux_Date_System'))
            @=
            TRIM(DB('ALL.003.Uploads_Status_Actual', !ALL.D.Year, !ALL.D.Month, !ALL.D.Version, !ALL.D.Region,!ALL.D.Planning_Module, 'Aux_Date_Closed'))
            &
            DB('ALL.003.Uploads_Status_Actual', !ALL.D.Year, !ALL.D.Month, !ALL.D.Version, !ALL.D.Region,!ALL.D.Planning_Module, 'Submission Count') > 0
            &
            DB('ALL.003.Uploads_Status_Actual', !ALL.D.Year, !ALL.D.Month, !ALL.D.Version, !ALL.D.Region,!ALL.D.Planning_Module, 'Reopen Count')
            <
            DB('ALL.003.Uploads_Status_Actual', !ALL.D.Year, !ALL.D.Month, !ALL.D.Version, !ALL.D.Region,!ALL.D.Planning_Module, 'Submission Count'),

            'Closed',

            CONTINUE
        ),

        CONTINUE
    );

# --------------------------------------------------------------------------------------------

['ALL.M.003.Uploads_Status_Actual':'ALL.M.003.Uploads_Status_Actual':'Status'] = S:

    IF(
        TRIM(DB('ALL.003.Uploads_Status_Actual', !ALL.D.Year, !ALL.D.Month, !ALL.D.Version, !ALL.D.Region,!ALL.D.Planning_Module, 'Aux_Date_System'))
        @>
        TRIM(DB('ALL.003.Uploads_Status_Actual', !ALL.D.Year, !ALL.D.Month, !ALL.D.Version, !ALL.D.Region,!ALL.D.Planning_Module, 'Aux_Date_Closed')),

        'Closed',

        'Open'
    );