# --------------------------------------------------------------------------------------------
# Name:  Definir Flag ACTUAL em RE
# Desc:  Retorna 'ACTUAL' quando o valor na versão T3 for 'ACTUAL' ou 'MONTHLY CLOSING'.
# Date:  2026-04-17
# Author: Miranda
# --------------------------------------------------------------------------------------------
['ALL.D.Version':'ALL.D.Version':'RE' , 'ALL.M.001.Actual_Control':'ALL.M.001.Actual_Control':'Flag']=S: 
IF( DB( 'ALL.001.Actual_Control', !ALL.D.Year, !ALL.D.Month, 'T3',!ALL.M.001.Actual_Control )@= 'ACTUAL' 
  %DB( 'ALL.001.Actual_Control', !ALL.D.Year, !ALL.D.Month, 'T3',!ALL.M.001.Actual_Control )@='MONTHLY CLOSING'
  ,'ACTUAL', CONTINUE );

  
# # --------------------------------------------------------------------------------------------
# # Name:  Se Ano menor que premissa actual
# # Desc:  Se Ano menor que premissa actual
# # Date:  2026-04-24
# # Author: Miranda
# # --------------------------------------------------------------------------------------------
['ALL.D.Version':'ALL.D.Version':  'T3', 'ALL.M.001.Actual_Control':'ALL.M.001.Actual_Control':'Flag']=S:

IF( NUMBR ( DB('ALL.100.Assumptions_Upload', 'Real Year', 'Value') ) >  NUMBR( !ALL.D.Year ) 
    ,
     'ACTUAL',
    CONTINUE
);


# --------------------------------------------------------------------------------------------
# Name:  Definir Flag ACTUAL por Real Year/Month
# Desc:  Retorna 'ACTUAL' quando Real Year/Month (Assumptions Upload) = Ano/Mês do ponto.
# Date:  2026-04-24
# Author: Miranda
# --------------------------------------------------------------------------------------------
['ALL.D.Version':'ALL.D.Version': {'RE' , 'T3'} , 'ALL.M.001.Actual_Control':'ALL.M.001.Actual_Control':'Flag']=S:
IF( DB('ALL.100.Assumptions_Upload', 'Real Year', 'Value') @=!ALL.D.Year ,
      IF( ATTRS('ALL.D.Month', DB('ALL.100.Assumptions_Upload', 'Real Month', 'Value'), 'Number') @= !ALL.D.Month,
  'ACTUAL',CONTINUE ), CONTINUE);


  
# # --------------------------------------------------------------------------------------------
# # Name:  Propagar Flag ACTUAL do mês posterior
# # Desc:  Se o próximo mês for 'ACTUAL', define o mês atual como 'ACTUAL'
# # Date:  2026-04-24
# # Author: Miranda
# # --------------------------------------------------------------------------------------------
['ALL.D.Version':'ALL.D.Version':  'T3', 'ALL.M.001.Actual_Control':'ALL.M.001.Actual_Control':'Flag']=S:
IF(
  NUMBR (ATTRS('ALL.D.Month', DB('ALL.100.Assumptions_Upload', 'Real Month', 'Value'), 'Number')) > NUMBR( !ALL.D.Month )
    ,
     'ACTUAL',
    CONTINUE
);
